= turbo_stream.replace dom_id(@folder) do
  = turbo_frame_tag dom_id(@folder), class: "d-flex flex-column align-items-end #{@rootfolder ? 'col-12' : 'col-11'}" do
    = render "folder_item", folder: @folder, folder_open: false 